/*******************************************
Resets
*******************************************/

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	text-align: left;
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6, th, td, caption {
	font-weight: normal;
}
img {
	border: 0;
}
/*******************************************
General Styles
*******************************************/

/* Page */

body {
	font-size: 1em;
	font-family: sans-serif;
}

.bckg-white {
	background-color: white;
}

.bckg-black {
	background-color: black;
	color: white !important;
}

/* Wrappers */

.wrapper-main {
	max-width: 800px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

.wrapper-shiftcase {
	margin: 50px auto;
	max-width: 675px;
	padding-left: 30px;
	padding-right: 30px;
}

/* Typography */

h1 {
	color: #0B8FF8;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 35px;
	letter-spacing: 1px;
}
h2 {
	letter-spacing: 1px;
}
h3 {}
h4 {}
h5 {
	letter-spacing: 1px;
}
p {
	margin-top: 0;
	color: #51545E;
	font-size: 1.25em;
	line-height: 1.5;
	letter-spacing: .5px;
	font-weight: 300;
}
strong {
	font-size: 1.25em;
}
.text--small {
	font-size: .75em;
}
.text--gray {
	color: #828282;
}
.text--white {
	color: #fff;
}
.text--caps {
	text-transform: uppercase;
}
.align-center {
	text-align: center;
}

/* Spacing */

.m-b-xs {
	margin-bottom: 25px !important;
}
.m-b-sm {
	margin-bottom: 50px !important;
}
.m-b-md {
	margin-bottom: 75px !important;
}
.m-b-lg {
	margin-bottom: 100px !important;
}
.m-t-xs {
	margin-top: 25px !important;
}
.m-t-sm {
	margin-top: 50px !important;
}
.m-t-md {
	margin-top: 75px !important;
}
.m-t-lg {
	margin-top: 100px !important;
}
.m-center {
	margin: 0 auto !important;
}
.p-b-xs {
	padding-bottom: 25px !important;
}
.p-b-sm {
	padding-bottom: 50px !important;
}
.p-b-md {
	padding-bottom: 75px !important;
}
.p-b-lg {
	padding-bottom: 100px !important;
}
.p-t-xs {
	padding-top: 25px !important;
}
.p-t-sm {
	padding-top: 50px !important;
}
.p-t-md {
	padding-top: 75px !important;
}
.p-t-lg {
	padding-top: 100px !important;
}

/* Buttons */

a.btn-text-white {
	color: white;
}
a.btn-text-white:hover {
	color: #00A8FF;
}
a.btn-text-shiftcase {
	color: white;
	font-size: 50px;
	font-weight: bold;
	transition: .25s ease all;
	text-decoration: none;
}
a.btn-text-shiftcase:hover {
	color: #00A8FF;
}

/* Nav */

.nav-main {
	padding: 30px;
}

#logo-hammers {
	height: 30px;
	width: auto;
}

/* Animations */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.fade-in.one {
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

/*******************************************
Index
*******************************************/

#logo-forge {
	height: 120px;
	width: auto;
}

/*******************************************
ShiftCase LP
*******************************************/

.shiftcase-menubar {
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .25);
	display: inline-block;
	padding: 10px 5px;
	margin-top: 25px;
	margin-bottom: 50px;
	position: relative;
}
.shiftcase-menubar:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 46%;
	width: 0;
	height: 0;
	border-bottom: 15px solid black;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}
ul.shiftcase-menubar_btn {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}
ul.shiftcase-menubar_btn li {
	display: inline-block;
	font-size: 1em;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}
ul.shiftcase-menubar_btn li a {
	color: #fff;
	text-decoration: none;
	transition: .25s ease all;
}
ul.shiftcase-menubar_btn li a:hover {
	color: #00A8FF;
}
ul.shiftcase-menubar_btn .btn {
	cursor: pointer;
}
.btn-app-store {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.btn-poduct-hunt {
 margin-left: 10px;
 margin-right: 10px;
}

/*******************************************
Responsive
*******************************************/

@media screen and (max-width:600px) {
	ul.shiftcase-menubar_btn li {
		display: inline-block;
		font-size: 1em;
		width: 93%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#logo-forge {
		height: 100px;
	}
}
@media screen and (max-width:480px) {
	#logo-forge {
		height: 75px;
	}
}
@media screen and (max-width: 375px) {
	#logo-forge {
		height: 50px;
	}
}
