/*******************************************
Resets
*******************************************/

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption {
	font-weight: normal;
}

img {
	border: 0;
}

/*******************************************
General Styles
*******************************************/

body {
    font-size: 1em;
}

.wrapper-content {
	margin: 50px auto;
	max-width: 650px;
	padding-left: 30px;
	padding-right: 30px;
}

h1,
.shiftcase-menubar,
.btn-download,
.btn-video {
  font-family: sans-serif;
}

h1 {
	color: #0B8FF8;
	font-size: 4em;
	font-weight: bold;
}

p {
	color: #51545E;
	font-family: serif;
	font-size: 1.25em;
	line-height: 1.5;
}

.text--small {font-size: .75em;}
.text--gray {color: #828282;}

.align-center {text-align: center;}

.btn-download {
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
  padding: 14px 40px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #f5f5f5;
  background-image: linear-gradient(to right, #00A8FF 0%, #0C8CF7  51%, #1771EF  100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: inline-block;
}

.btn-download:hover {
	background-position: right center;
	color: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-video {
	font-weight: bold;
	color: #00a8ff;
	text-decoration: none;
	display: inline-block;
	margin-top: 15px;
	transition: .25s ease all;
}

.btn-video:hover {color: #196cea;}

/*******************************************
Landing Page Styles
*******************************************/

.nav-main {
	padding: 30px;
}

#logo {
	height: 25px;
	width: auto;
}

.shiftcase-menubar {
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 5px 30px rgba(0,0,0,.25);
	display: inline-block;
	padding: 10px 5px;
	margin-top: 25px;
	margin-bottom: 50px;
	position: relative;
}

.shiftcase-menubar:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 46%;
	width: 0;
	height: 0;
	border-bottom: 15px solid black;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
}

ul.shiftcase-menubar_btn {
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
}

ul.shiftcase-menubar_btn li {
	display: inline-block;
	font-size: 1em;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

ul.shiftcase-menubar_btn li a {
	color: #fff;
	text-decoration: none;
}

ul.shiftcase-menubar_btn li a:hover {
	color: #00A8FF;
}

ul.shiftcase-menubar_btn .btn {
	cursor: pointer;
}

.mac-app-store {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Animations */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
 opacity:0;
 -webkit-animation:fadeIn ease-in 1;
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

/* Responsive */

@media screen and (max-width:550px) {

ul.shiftcase-menubar_btn li {
		display: inline-block;
		font-size: 1em;
		width: 93%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}